<body>
    <header>
      <div class="logo">
        <img src="assets/logo.jpg" >
      </div>
    </header>
  <main class="content-container">
<table>
    <tr>
        <td>Old password:</td>
        <td>
            <input type="password" name="password" [(ngModel)]="oPassword">
        </td>
    </tr>
    <tr>
        <td>New Password:</td>
        <td>
            <input type="password" name="password" [(ngModel)]="nPassword"> 
        </td>
    </tr>
    <tr>
    <td>Repeat New Password:</td>
    <td>
        <input type="password" name="password" [(ngModel)]="nPassword2"> 
    </td>
    </tr>
    <tr>
        <td colspan="2">
            <button (click)="change()">Promenite lozinku</button>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <button (click)="nazad()">Nazad</button>
        </td>
    </tr>
</table>
{{message}}
</main>
<footer>
    <p>&copy; 2023 Project by Andrija Nicić. All rights reserved.</p>
  </footer>
  
  
  </body>
    