<body>
    <header>
      <div class="logo">
        <img src="assets/logo.jpg" >
      </div>
    </header>
    <img src={{editUsr.pic}}>
<main >



<table>
    <tr>
        <td>Username:</td>
        <td>
            <input type="text" name="username" [(ngModel)]="editUsr.username">
        </td>
    </tr>
    <tr>
        <td>Password:</td>
        <td>
            <input type="password" name="password" [(ngModel)]="editUsr.password"> 
        </td>
    </tr>
    <tr>
        <td>Confirm password:</td>
        <td>
            <input type="password" name="password2" [(ngModel)]="password2"> 
        </td>
    </tr>
    <tr>
        <td>Kontakt telefon:</td>
        <td>
            <input type="text" name="phoneNum" [(ngModel)]="editUsr.phoneNum"> 
        </td>
    </tr>
    <tr>
        <td>E-mail:</td>
        <td>
            <input type="text" style=" width: 300px;" name="email" [(ngModel)]="editUsr.imejl"> 
        </td>
    </tr>
   
    <tr >
        <td>Ime:</td>
        <td>
            <input type="text"  name="firstname" [(ngModel)]="editUsr.ime"> 
        </td>
    </tr>
    <tr >
        <td>Prezime:</td>
        <td>
            <input type="text"  name="lastname" [(ngModel)]="editUsr.prezime"> 
        </td>
    </tr>
    <tr>
        <input type="file" id="fileUpload" (change)="onFileSelected($event)" accept="image/*">
    </tr>
    <button *ngIf="dodavanje==true" (click)="izmeni()">Dodaj</button>
    <button *ngIf="!dodavanje" (click)="izmeni()">Izmeni</button>
    <br/>
    <button (click)="nazad()">Nazad</button>
</table>
{{message}}
</main>
<footer>
    <p>&copy; 2023 Project by Andrija Nicić. All rights reserved.</p>
  </footer>
  
  
  </body>