
<body>
    <header>
      <div class="logo">
        <img src="assets/logo.jpg" >
      </div>
    </header>
<main class="content-container">
<table>
    Unesite podatke koje zelite da izmenite
    <br/>
    <tr>
        <td>Tip objekta:</td>
        <td>
        <label>
            <input type="radio" name="option" value="stan" [(ngModel)]="objekat.tip">
            Stan
        </label>
        <label>
            <input type="radio" name="option" value="kuca"[(ngModel)]="objekat.tip">
            Kuća
        </label>
    </td>
    </tr>
    <tr>
        <td>Adresa objekta:</td>
        <td>
            <input type="text" name="adresa" [(ngModel)]="objekat.address">
        </td>
    </tr>
    <tr>
        <label>
            <input type="checkbox" name="option" value="true" [(ngModel)]="izmenaD" (click)="izmena()">
            Izmenite dimenzije objekta (ovim menjate i samu skicu)
        </label>
    </tr>
    <tr *ngIf="izmenaD">
        <td>
        <label>
            <input type="radio" name="new" value="new" [(ngModel)]="tipFILE" checked>
            Nova skica - automatski generisana
        </label>
        <label>
            <input type="radio" name="exists" value="exists"[(ngModel)]="tipFILE">
            Postojeca
        </label>
    </tr>
    <tr *ngIf="izmenaD && tipFILE=='new'">
        <td>Broj prostorija:</td>
        <td>
            <input type="number" name="numR" [(ngModel)]="objekat.numR"> 
        </td>
    </tr>
    <tr *ngIf="izmenaD  && tipFILE=='new'">
        <td>Kvadratura:</td>
        <td>
            <input type="number" name="size" [(ngModel)]="objekat.size"> 
        </td>
    </tr>
    <tr *ngIf="izmenaD  && tipFILE=='exists'">
        <td>Izaberite JSON fajl:</td>
        <td>
            <input type="file" (change)="onFileSelected($event)"> 
        </td>
    </tr>
    
    <tr>
        <td>
            <button (click)="izmeni()">Izmeni</button> 
        </td>
    </tr>
    <tr *ngIf="izmenaD">
        <button (click)="loadByNewInfo()">Prikazi novu skicu</button>
    </tr>
    <tr>
        <button (click)="back()">Nazad</button>
    </tr>
    <tr>
        <button (click)="logout()">Odjavite se</button>
    </tr>
</table>
<div *ngIf="izmenaD">
    <canvas class="my-canvas" #canvas width="800" height="400"></canvas>
</div>
{{message}}
</main>
<footer>
    <p>&copy; 2023 Project by Andrija Nicić. All rights reserved.</p>
  </footer>
  
  
  </body>
    